@import './../../../assests/styles/variables'

.home-component
  height: 100%
  display: flex
  flex-direction: column

.layout-selection
  padding: $padding-of-elements
  background: #ddd
  border-bottom: 1px solid #ccc
  margin: 0

.content
  flex: 1
  padding: $padding-of-elements

.layout-button
  cursor: pointer
  padding: 2px 4px
  border-radius: 3px
  &:hover, &.active
    background: #eee






$todo-list-border-color: #d1cfcf
$todo-list-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.125)

.todo-list
  display: table
  background: white
  border: 1px solid $todo-list-border-color
  position: relative
  box-shadow: $todo-list-box-shadow
  box-sizing: border-box
  &.m-horizontal
    width: 100%
    height: calc(50% - #{$padding-of-elements} / 2 )
    &:nth-of-type(1)
      margin-bottom: $padding-of-elements
  &.m-vertical
    width: calc(50% - #{$padding-of-elements} / 2 )
    height: 100%
    &:nth-of-type(1)
      float: left
    &:nth-of-type(2)
      float: right
  &:before, &:after
    position: absolute
    background: white
    content: ''
    height: 10px
    border: 1px solid $todo-list-border-color
    box-shadow: $todo-list-box-shadow
  &:before
    z-index: -1
    right: 1px
    bottom: -3px
    left: 1px
  &:after
    z-index: -2
    right: 4px
    bottom: -5px
    left: 4px

.todo-list--row
  display: table-row
  border-bottom: 1px solid lighten($todo-list-border-color, 30%)
  &.m-header
    padding-top: 10px
  &.m-footer
    padding-top: 10px
    padding-bottom: 10px

.todo-list--left-col, .todo-list--right-col
  display: table-cell
  padding: 5px

.todo-list--left-col

.todo-list--right-col
  font-weight: bold
