<div class="home-component">

    <p class="layout-selection">
        Pick layout orientation:
        <span class="layout-button"
              [class.active]="layoutOrientation === LAYOUT_ORIENTATION.HORIZONTAL"
              (click)="setLayout(LAYOUT_ORIENTATION.HORIZONTAL)">Horizontal</span>
        <span class="layout-button"
              [class.active]="layoutOrientation === LAYOUT_ORIENTATION.VERTICAL"
              (click)="setLayout(LAYOUT_ORIENTATION.VERTICAL)">Vertical</span>
    </p>

    <div class="content">

        <div class="todo-list" [ngClass]="todoListModifierClass()">

            <div class="todo-list--row m-header">
                <div class="todo-list--left-col"></div>
                <div class="todo-list--right-col"></div>
            </div>

            <div *ngFor="let todo of activeTodos()" class="todo-list--row">
                <div class="todo-list--left-col">{{ todo.selected | json }}</div>
                <div class="todo-list--right-col">{{ todo.text }}</div>
            </div>

            <div class="todo-list--row m-footer">
                <div class="todo-list--left-col"></div>
                <div class="todo-list--right-col">
                    <div class="btn m-point-left">Previous</div>
                    <div class="btn m-point-right">Next</div>
                </div>
            </div>

        </div>

        <div class="todo-list" [ngClass]="todoListModifierClass()">

            <div class="todo-list--row m-header">
                <div class="todo-list--left-col"></div>
                <div class="todo-list--right-col"></div>
            </div>

            <div *ngFor="let todo of deletedTodos()" class="todo-list--row">
                <div class="todo-list--left-col">{{ todo.selected | json }}</div>
                <div class="todo-list--right-col">{{ todo.text }}</div>
            </div>

            <div class="todo-list--row m-footer">
                <div class="todo-list--left-col"></div>
                <div class="todo-list--right-col">
                    <div class="btn m-point-left">Previous</div>
                    <div class="btn m-point-right">Next</div>
                </div>
            </div>

        </div>

    </div>

</div>
