@import './../../../assests/styles/variables'

.home-component-wrapper
  height: 100%
  display: flex
  flex-direction: column

.layout-selection
  padding: $padding-of-elements
  background: #ddd
  border-bottom: 1px solid #ccc
  margin: 0

.layout-button
  cursor: pointer
  padding: 2px 4px
  border-radius: 3px
  &:hover, &.active
    background: #eee

.content
  flex: 1
  padding: $padding-of-elements
