<div class="home-component-wrapper">

    <h3 class="layout-selection">
        Layout orientation:
        <span class="layout-button"
              [class.active]="layoutOrientation === LAYOUT_ORIENTATION.HORIZONTAL"
              (click)="setLayout(LAYOUT_ORIENTATION.HORIZONTAL)">Horizontal</span>
        <span class="layout-button"
              [class.active]="layoutOrientation === LAYOUT_ORIENTATION.VERTICAL"
              (click)="setLayout(LAYOUT_ORIENTATION.VERTICAL)">Vertical</span>
    </h3>

    <div class="content">

        <div class="todo-list-wrapper"
             [ngClass]="todoListLayoutModifierClass() + ' ' + todoListMarginModifierClass()">
            <todo-list [todos]="activeTodos()"
                       (addTodo)="onAddTodo($event)"
                       (removeTodos)="onSoftDeleteTodos($event)"></todo-list>
        </div>

        <div class="todo-list-wrapper"
             [ngClass]="todoListLayoutModifierClass()">
            <todo-list [todos]="deletedTodos()"
                       (removeTodos)="onHardDeleteTodos($event)"></todo-list>
        </div>

    </div>

</div>
