@import './../../../assests/styles/variables'

.home-component-wrapper
  height: 100%
  display: flex
  flex-direction: column

.layout-selection
  padding: $padding-of-elements
  background: #ddd
  border-bottom: 1px solid #ccc
  margin: 0

.layout-button
  cursor: pointer
  padding: 4px 4px 2px 4px
  border-radius: 3px
  &:hover, &.active
    background: #eee

.content
  flex: 1
  padding: $padding-of-elements

.todo-list-wrapper
  &.m-horizontal
    width: 100%
    height: calc(50% - #{$padding-of-elements} / 2 )
  &.m-vertical
    float: left
    width: calc(50% - #{$padding-of-elements} / 2 )
    height: 100%
  &.m-margin-right
    margin-right: $padding-of-elements
  &.m-margin-bottom
    margin-bottom: $padding-of-elements
