<div class="home-component-wrapper">

    <p class="layout-selection">
        Layout orientation:
        <span class="layout-button"
              [class.active]="layoutOrientation === LAYOUT_ORIENTATION.HORIZONTAL"
              (click)="setLayout(LAYOUT_ORIENTATION.HORIZONTAL)">Horizontal</span>
        <span class="layout-button"
              [class.active]="layoutOrientation === LAYOUT_ORIENTATION.VERTICAL"
              (click)="setLayout(LAYOUT_ORIENTATION.VERTICAL)">Vertical</span>
    </p>

    <div class="content">

        <todo-list [todos]="activeTodos()"
                   [layoutModifierClasses]="todoListLayoutModifierClass() + ' ' + todoListMarginModifierClass()"></todo-list>
        <todo-list [todos]="deletedTodos()"
                   [layoutModifierClasses]="todoListLayoutModifierClass()"></todo-list>

    </div>

</div>
